* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F4F0;
  font-family: "Open Sans", sans-serif;
  padding-left: 80px;
  padding-right: 80px;
  width: 1120px;
  align-content: center;
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

#page {
  margin: 104px auto 65px;
}
hr {
  width: 1120px;
  border-bottom: 1px solid #D9D9D9; 
  margin: 40px auto 40px;
  align-content: center; 
}

img {
  max-width: max-content;
  border-radius: 28px;
}

/* Textos */

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333333;
}
h3 {
  font-size: 28px;
  font-weight: bold;
  color: #333333;
}
h5 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #E1624F;
}
h1,h5 {
  margin: 2px;
}
.subtitle {
  font-size: 16px;
  font-style: italic;
  line-height: normal;
  text-align: center;
  margin-top: 24px;
  color: #333333;
}

.texto-final {
  text-align: center;
}

/*Texto colorido*/

.texto-azul {
  color: #0C51A7;
  font-weight: bold;
}
.text-purple {
  color: #591B98;
  font-weight: bold;
}
.text-pink {
  color: #E5245E;
  font-weight: bold;
}
.text-orange {
  color: #E95E10;
  font-weight: bold;
}

/* Imagens */

img {
  margin-bottom: 20px;
  }
  
/* Section */

#Busan {
  h1 {
  margin-bottom: 40px;
}
  img {
  border-radius: 28px;
}
  img {
  margin: 8px;
}
}
#destinos {
  p {
  margin-bottom: 64px;
  margin-top: 8px;
}
}
#Haedong {
  h3 {
    margin-bottom: 4px;
  }
  p {
    margin-bottom: 48px;
  }
}

#Beomeo-sa {
  h3 {
    margin-bottom: 4px;
  }
  p {
    margin-bottom: 48px;
  }
}
footer {
  color: #333333;
  text-align: center;
  padding-bottom: 137px;
  line-height: 150%;
}
footer img {
  vertical-align:-webkit-baseline-middle;
}
